{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skystore</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Skystore</h5>


    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/">Главная</a>
        <a class="p-2 btn btn-outline-primary" href="contact/">Контакты</a>
        {% if user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:blog' %}">blog</a>
        {% endif %}
        {% if user.is_authenticated %}
        <form id="logout-form" method="post" action="{% url 'users:logout' %}" style="display: none;">
            {% csrf_token %}
        </form>
        <a class="p-2 btn btn-outline-primary" href="#"
           onclick="event.preventDefault(); document.getElementById('logout-form').submit(); return false;">
            выйти
        </a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' %}">редактирования профиля</a>

        {% else %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">войти</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">регистрация</a>
        {% endif %}
    </nav>
</div>