{% extends "catalog/base.html" %}


{% block content %}
<div class="col-5">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-3 font-weight-normal">Create</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {%if object%}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                {%else%}
                    <button type="submit" class="btn btn-primary">Создать</button>
                {% endif%}
            </form>

        </div>
    </div>
</div>
{% endblock %}
