{% extends "catalog/base.html" %}
{% load something %}

{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card ">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">


                    <h6>{{ object.description|slice:":100" }}{% if object.description|length > 100 %}...{% endif %}</h6>
                    <img class="card-img-top" src="{% mymedia product.image %}" alt="Product Image">
                    <h1 class="card-title pricing-card-title">${{ object.price }}</h1>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>


                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card ">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Верси товара</h4>
                </div>
                <div class="card-body">


                    {% for version in versions %}
                    <h5>Название версии: {{ version.name_version }} </h5>
                    <h5>Версия: {{ version.namber_version }}</h5>
                    {% endfor %}


                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}


